@import "tailwindcss";

html {
  scroll-behavior: smooth;

  
}
body {
  background: linear-gradient(-45deg, #000000, #0f172a, #000000, #1e3a8a);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  color: white;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
